*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
 background-color: #C8DBD7;
 font-family: 'Poppins', sans-serif;
 padding: 10px;
 }
 
 
 
 #blog-container {
	
	 align-items: flex-start;
	 justify-content: space-between;
	 padding-top: 15rem;
 }
 #blog-container .blogs {
	 width: 60%;
 }
  #blog-container .blogs img {
	  width: 100%;
	  border-radius: 19px;
  }
    #blog-container .blogs .post h3 {
		color: #29303B;
		padding: 15px 0 10px 0;
		font-size: 26px;
	}
	#blog-container .blogs .post p {
		color: #757373;
		padding-bottom: 20px; 
		font-size: 20px;
	}
	#blog-container .blogs .post a {
		text-decoration: none;
		font-size: 1.9rem;
		padding: 13px 35px;
		background-color: rgb(21, 21, 100);
		color: #fff;
		border-radius: 5px;
		font-weight: 600;
	}
	
	#blog-con .blog-post {
		width: 60%;
		margin: 0 auto;
		padding-top: 100px;
	}
	#blog-con .blog-post p{
		text-align: justify;
		padding-bottom: 40px !important;
		font-size: 20px;
	}
	#blog-con .blog-post h3{
		text-align: justify;
		padding-bottom: 20px;
		font-size: 30px;
		padding-top: 10px;
	 
	}
	#blog-con .blog-post .post1 a {
		text-decoration: none;
		font-size: 1.9rem;
		padding: 13px 35px;
		background-color: rgb(21, 21, 100);
		color: #fff;
		border-radius: 5px;
		font-weight: 600;
	}
	#blog-con .blog-post img {
		width: 80%;
	}
	
	
	@media (max-width: 769px) {
		#blog-container {
			padding: 8vw 4vw;
			padding-top: 90px;
		}
	
		
		#blog-con .blog-post {
			width: 100%;
		margin-top: 30px;
		}	
        #blog-con .blog-post img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
	margin-top: -20px;
}
	
	}
	@media (max-width:475px) {
		#blog-container {
			flex-direction: column;
		}
		#blog-container .blogs {
			width: 100%;
		}
		#blog-con .blog-post {
			width: 100%;
		margin-top: 70px;
		}	
     #blog-con .blog-post img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
}
	}
		
	  
	  