body {
	font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
background-color:#C8DBD7;
padding: 10px;
}






.container {
 
  width: 100%;
  margin-left: 0px; 
  height: auto;
  background:#fefefe;
  padding: 2rem;
	margin-top: 25%;
	margin-bottom: 0%;
	text-align:center;
   background-color:#fff;
   border-top: 8px solid blue;
	
  }
  .container h1 {
	  font-size: 40px;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  font-weight: 800px;
	  font-style: bold;
	  padding: 2rem;
	  
  }
  
  .container p {
	  
	  font-size: 18px;
	  
  }	  
	 
	
  
  
 input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  margin-left: 4px;
  display: inline-block;
  border: none;
  background: #fff;
  font-size: 10px;
  border: 1px solid #ccc;
	border-radius: 12px;
 
}

 

input[type=text]:focus, input[type=password]:focus {
  background-color:#C8DBD7;
  outline:none;
  margin-right:5px;
  
  
 
}
.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 12px;
}

button:hover {
  opacity:1;
}


  

.container1 {
  padding: 5px;
  margin-top: 30px;
  width: 99%;
}


.container1 label {
	margin-left: 10px;
	
	font-size: 15px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 0; 
  left: 0;
  top: 0;
  margin-left: 4px;
  width: 50%; 
  height: 90%; 
  overflow: auto; 
  background-color: red;
  padding-top: 50px;
  border: 1px solid #888;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 23% auto; 
  width: 50%;
  
}


hr {
  border: 1px solid black;
  margin-bottom: 25px;
}
 

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}





