  
  body {
	  background-color: #EAE7DD;
  }
  .mvv-container {
  max-width: 92%;
  margin: 50px auto 0;
  flex-wrap: wrap;


  display: flex;
margin-top: 190px;
  
  }
    .mvv-container .mvv-block {
		margin-bottom: 50px;
		display: flex;
		flex-direction: row;
		
		
		
	}
	
	  .mvv-container .mvv-block .mvv-image {
		  flex: 0 0 auto;
		  width: 400px;
		  overflow: hidden;
		  border-radius: 5px;
		  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
		  line-height: 0;
		  position: relative-fixed;
		  
	  
	  }
	  .mvv-container .mvv-block .mvv-image  img {
		  width: 100%;
		  transition: .3s;
		  transform: scale(1);
	  }
	  
	  .mvv-container .mvv-block .mvv-image:hover  img
	  {
		  transform: scale(1.07);
		
	  }
	  
	   .mvv-container .mvv-block .mvv-content {
		  flex: 0 0 auto;
		  width: calc(100% - 400px);
		  box-sizing: border-box;
		  align-self: center;
		  
	   }
	   
	   .mvv-container .mvv-block .mvv-content h5 {
		   font-weight: 700;
		   font-size: 25px;
		   color: purple;
		   margin-bottom: 20px;
	   }
	    .mvv-container .mvv-block .mvv-content p {
			font-size: 19px;
			color: black;
		}
    
    @media screen and (min-width: 767px)
	{
	
		
	.mvv-container .mvv-block:nth-child(odd) .mvv-image
		{
			order: 1;
		}
		.mvv-container .mvv-block:nth-child(even) .mvv-image
		{
			order: 2;
		}
		
		.mvv-container .mvv-block:nth-child(odd) .mvv-content
		{
			order: 2;
			padding-left: 30px;
		}
		.mvv-container .mvv-block:nth-child(even) .mvv-content
		{
			order: 1;
			padding-right: 30px;
		}
		
        
	}
		